
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
   {
#Header { font-size: 42px !important;
color: red;
size: +3;
text-align: center
}
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: portrait) {
#Header { font-size: 42px !important;
color: red;
size: +3;
text-align: center
}
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
#Header { font-size: 42px !important;
color: red;
size: +3;
text-align: center
 }
}

@media only screen
  and (min-device-width: 736px)

   {
#Header { font-size: 42px !important;
  color: black;
  size: +1;
  text-align: center
}
}
